/* services page csss */

.cid-rc1atHcrbl .builder-sidebar {
    background-color: #ffffff;
}

@media only screen and (min-width: 778px) {
    .cid-rc1atHcrbl button.sticky-but{
   display: none;
}
}
@media only screen and (max-width: 778px) {
.example3 .navbar-toggle {

    display: none;
}
}


.cid-rc1atHcrbl button.sticky-but{
    background-color:#ffffff00;
}


.headerbar {

    display: none !important;
}
.navbar-brand {
    padding: 6px 15px;
}
.navbar-inverse {
    background-color: #fec10000;
    border-color: #fec10000;
    
}
.navbar-inverse {
    background-image: -webkit-linear-gradient(top,#fec10000 0,##fec10000 100%);
    background-image: -o-linear-gradient(top,#fec10000 0,#fec10000 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#fec10000),to(#fec10000));
    background-image: linear-gradient(to bottom,#fec10000 0,#fec10000 100%);
}
.cid-rc1aSsuqcG {
    background-image: url(assets/images/mbr-1920x1276.jpg);
    margin-left: -19px;
    margin-top: 1px;
    margin-bottom: 1px;
}

.navbar-inverse .navbar-nav>li>a {
    color: #000000;
}
.cid-rc1atHcrbl .hamburger span {
    background-color: #000000;
}
.display-1 {
    font-family: 'Roboto',sans-serif;
    font-size: 7.5rem;
}
.display-2 {
    font-family: 'Roboto',sans-serif;
    font-size: 3.2rem;
}.display-4 {
    font-family: 'Roboto',sans-serif;
    font-size: 1.3rem;
}
.display-5 {
    font-family: 'Roboto',sans-serif;
    font-size: 3.8rem;
}
.display-7 {
    font-family: 'Roboto',sans-serif;
    font-size: 1.4rem;
}
.navbar-brand>img {
    display: block;
    /* width: 27%; */
}
.cid-rc1blTtLL5 {
    padding-top: 45px;
    padding-bottom: 45px;
    background-color: #4a4947cf;
}

/* @media (min-width: 1200px){
.container {
    max-width: 1360px;
    padding-right: 0px;
    padding-left: 0px;
}
} */
.cid-rciF9Vpapj {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #ffffff2e;
}
.cid-rc1aWm0GdQ {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #ffffff30;
}
.container .jumbotron, .container-fluid .jumbotron{
    padding: 77px;
}
.jumbotron {  
    margin-bottom: 2px;
}
.container-fluid{
    padding-left: 0px;
    padding-right: 0px;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    /* background-color: #fec100; */
    background-color: #657070;
    background-clip: padding-box;
    border: 1px solid rgb(255, 255, 255);
    border-radius: .25rem;
}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    background-color: #e8e8e8;
    background-image: -webkit-linear-gradient(top,#fec100 0,#fec100 100%);
    background-image: -o-linear-gradient(top,#fec100 0,#fec100 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#fec100),to(#fec100));
    background-image: linear-gradient(to bottom,#fec100 0,#fec100 100%);
}
#fec100
 .dropdown-menu > li.kopie > a {
    padding-left:5px;
}
 /* #navbar{
     float:right;
 }
  */
.dropdown-submenu {
    position:relative;
}
.dropdown-submenu>.dropdown-menu {
   top:0;left:100%;
   margin-top:-6px;margin-left:-1px;
   -webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;
 }
  
.dropdown-submenu > a:after {
  border-color: transparent transparent transparent #333;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  content: " ";
  display: block;
  float: right;  
  height: 0;     
  margin-right: -10px;
  margin-top: 5px;
  width: 0;
}
 
.dropdown-submenu:hover>a:after {
    border-left-color:#555;
 }

.dropdown-menu > li > a:hover, .dropdown-menu > .active > a:hover {
  text-decoration: underline;
}  
  
@media (max-width: 767px) {
  .navbar-nav  {
     display: inline;
  }
  .navbar-default .navbar-brand {
    display: inline;
  }
  .navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
  }
  .navbar-default .navbar-nav .dropdown-menu > li > a {
    color: red;
    background-color: #ccc;
    border-radius: 4px;
    margin-top: 2px;   
  }
   .navbar-default .navbar-nav .open .dropdown-menu > li > a {
     color: #333;
   }
   .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
   .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
     background-color: #ccc;
   }

   .navbar-nav .open .dropdown-menu {
     border-bottom: 1px solid white; 
     border-radius: 0;
   }
  .dropdown-menu {
      padding-left: 10px;
  }
  .dropdown-menu .dropdown-menu {
      padding-left: 20px;
   }
   .dropdown-menu .dropdown-menu .dropdown-menu {
      padding-left: 30px;
   }
   li.dropdown.open {
    border: 0px solid red;
   }

}
 
@media (min-width: 768px) {
  ul.nav li:hover > ul.dropdown-menu {
    display: block;
  }
  #navbar {
    text-align: center;
    margin-bottom: -19px;
  }
}  
.navbar-default {
    background-color: #f8f8f800;
    border-color: #e7e7e700;
    background-image: -webkit-linear-gradient(top,#fff0 0,#f8f8f800 100%);
    background-image: -o-linear-gradient(top,#fff0 0,#f8f8f800 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#fff0),to(#f8f8f800));
    background-image: linear-gradient(to bottom,#fff0 0,#f8f8f800 100%);
    box-shadow: none;
}
.navbar-default .navbar-nav>li>a {
    color: #fff;
    font-size: 15px;
}

 
 .navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #ffc000 !important;
    font-size: 15px;
}
.navbar-nav a:hover{
    color: #000000 !important;
    text-decoration-line: none;
    text-decoration: none;
}
p, li, blockquote {
  
    color: #000000;
    letter-spacing: 0.5px;
    line-height: 1.0;
    
}

}
a{
    text-decoration: none !important;
}
.dropdown-menu{
    color: white;
    text-decoration-line: none;
    text-decoration: none;
}
.dropdown-menu a{
  
    text-decoration-line: none;
    text-decoration: none;
}

.dropdown-menu>li>a{
    color: white;
    font-size: 15px;
    text-decoration-line: none;
    text-decoration: none;
    
}
body {
	font-family: "Open Sans", sans-serif;
}
h2 {
	color: #000;
	font-size: 26px;
	font-weight: 300;
	text-align: center;
	text-transform: uppercase;
	position: relative;
	margin: 30px 0 80px;
}
h2 b {
	color: #ffc000;
}
h2::after {
	content: "";
	width: 100px;
	position: absolute;
	margin: 0 auto;
	height: 4px;
	background: rgba(241, 241, 241, 0.58);
	left: 0;
	right: 0;
	bottom: -20px;
}
.carousel {
	margin: 50px auto;
	padding: 0 70px;
}
.carousel .item {
	min-height: 330px;
    text-align: center;
	overflow: hidden;
}
.carousel .item .img-box {
	height: 160px;
	width: 100%;
	position: relative;
}
.carousel .item img {	
	max-width: 100%;
	max-height: 100%;
	display: inline-block;
	position: absolute;
	bottom: 0;
	margin: 0 auto;
	left: 0;
	right: 0;
}
.carousel .item h4 {
	font-size: 18px;
	margin: 10px 0;
}
.carousel .item .btn {
	color: #333;
    border-radius: 0;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: bold;
    background: none;
    border: 1px solid #ccc;
    padding: 5px 10px;
    margin-top: 5px;
    line-height: 16px;
}
.carousel .item .btn:hover, .carousel .item .btn:focus {
	color: #fff;
	background: #000;
	border-color: #000;
	box-shadow: none;
}
.carousel .item .btn i {
	font-size: 14px;
    font-weight: bold;
    margin-left: 5px;
}
.carousel .thumb-wrapper {
	text-align: center;
}
.carousel .thumb-content {
	padding: 15px;
}
.carousel .carousel-control {
	height: 100px;
    width: 40px;
    background: none;
    margin: auto 0;
    background: rgba(0, 0, 0, 0.2);
}
.carousel .carousel-control i {
    font-size: 30px;
    position: absolute;
    top: 50%;
    display: inline-block;
    margin: -16px 0 0 0;
    z-index: 5;
    left: 0;
    right: 0;
    color: rgba(0, 0, 0, 0.8);
    text-shadow: none;
    font-weight: bold;
}
.carousel .item-price {
	font-size: 13px;
	padding: 2px 0;
}
.carousel .item-price strike {
	color: #999;
	margin-right: 5px;
}
.carousel .item-price span {
	color: #86bd57;
	font-size: 110%;
}
.carousel .carousel-control.left i {
	margin-left: -3px;
}
.carousel .carousel-control.left i {
	margin-right: -3px;
}
.carousel .carousel-indicators {
	bottom: -50px;
}
.carousel-indicators li, .carousel-indicators li.active {
	width: 10px;
	height: 10px;
	margin: 4px;
	border-radius: 50%;
	border-color: transparent;
}
.carousel-indicators li {	
	background: rgba(0, 0, 0, 0.2);
}
.carousel-indicators li.active {	
	background: rgba(0, 0, 0, 0.6);
}
.star-rating li {
	padding: 0;
}
.star-rating i {
	font-size: 14px;
	color: #ffc000;
}
.thumb-wrapper{
    background-color: rgb(230, 230, 230);
    padding-top: 8px;
} 
.feedback {
  background-color : #ffc000;
  color: white;
  padding: 10px 15px;
  border-radius: 4px;
  border-color: #ffffff;
  -webkit-transform: rotate(270deg);
-moz-transform: rotate(270deg);
-o-transform: rotate(270deg);
writing-mode: tb-rl;
 
}
.feedback a{
    color: white;
}

#mybutton {
  position: fixed;
  bottom: 154px;
  right: -30px;
}
#scrollToTopButton {
    position: fixed;
    bottom: 25px;
    right: 0    px;
    opacity: 0.7;
}



/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9999;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}
.affix {
      top:0;
      width: 100%;
      z-index: 9999 !important;
      background-color: rgb(231, 209, 4);
      /* height: 8%; */
      margin-left: 0px;
  }
 
  .affix ~ .container-fluid {
     position: relative;
     top: 10px;
  }
  .row.menuright {
    background-color: #fec100;
}
/* contact us pages css */
#contatti{
  background-color: #70c3be46;
  letter-spacing: 2px;
  }
#contatti a{
  color: #fff;
  text-decoration: none;
}


@media (max-width: 575.98px) {

  #contatti{padding-bottom: 800px;}
  #contatti .maps iframe{
    width: 100%;
    height: 450px;
  }
 }


@media (min-width: 576px) {

   #contatti{padding-bottom: 800px;}

   #contatti .maps iframe{
     width: 100%;
     height: 450px;
   }
 }

@media (min-width: 768px) {

  #contatti{padding-bottom: 350px;}

  #contatti .maps iframe{
    width: 100%;
    height: 850px;
  }
}

@media (min-width: 992px) {
  #contatti{padding-bottom: 200px;}

   #contatti .maps iframe{
     width: 100%;
     height: 700px;
   }
}


#author a{
  color: #fff;
  text-decoration: none;
    
}
label{
  color: white;
}
.font-weight-bold{
  color: white;
}
.container.mt-5{
  margin-top: 10px;
}
.fa-2x{
  padding-right: 5px;
} 
h2::after{
    background:rgba(181, 177, 177, 0.82);
}




/* contact us page css */

.cid-rc1atHcrbl .builder-sidebar {
    background-color: #ffffff;
}

@media only screen and (min-width: 778px) {
    .cid-rc1atHcrbl button.sticky-but{
   display: none;
}
}
@media only screen and (max-width: 778px) {
.example3 .navbar-toggle {

    display: none;
}
}


.cid-rc1atHcrbl button.sticky-but{
    background-color:#ffffff00;
}


.headerbar {

    display: none !important;
}
.navbar-brand {
    padding: 6px 15px;
}
.navbar-inverse {
    background-color: #fec10000;
    border-color: #fec10000;
    
}
.navbar-inverse {
    background-image: -webkit-linear-gradient(top,#fec10000 0,##fec10000 100%);
    background-image: -o-linear-gradient(top,#fec10000 0,#fec10000 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#fec10000),to(#fec10000));
    background-image: linear-gradient(to bottom,#fec10000 0,#fec10000 100%);
}
.cid-rc1aSsuqcG {
    background-image: url(assets/images/mbr-1920x1276.jpg);
    margin-left: -19px;
    margin-top: 1px;
    margin-bottom: 1px;
}

.navbar-inverse .navbar-nav>li>a {
    color: #000000;
}
.cid-rc1atHcrbl .hamburger span {
    background-color: #000000;
}
.display-1 {
    font-family: 'Roboto',sans-serif;
    font-size: 7.5rem;
}
.display-2 {
    font-family: 'Roboto',sans-serif;
    font-size: 3.2rem;
}.display-4 {
    font-family: 'Roboto',sans-serif;
    font-size: 1.3rem;
}
.display-5 {
    font-family: 'Roboto',sans-serif;
    font-size: 3.8rem;
}
.display-7 {
    font-family: 'Roboto',sans-serif;
    font-size: 1.4rem;
}
.navbar-brand>img {
    display: block;
    /* width: 27%; */
}
.cid-rc1blTtLL5 {
    padding-top: 45px;
    padding-bottom: 45px;
    background-color: #4a4947cf;
}

/* @media (min-width: 1200px){
.container {
    max-width: 1360px;
    padding-right: 0px;
    padding-left: 0px;
}
} */
.cid-rciF9Vpapj {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #ffffff2e;
}
.cid-rc1aWm0GdQ {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #ffffff30;
}
.container .jumbotron, .container-fluid .jumbotron{
    padding: 77px;
}
.jumbotron {  
    margin-bottom: 2px;
}
.container-fluid{
    padding-left: 0px;
    padding-right: 0px;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    /* background-color: #fec100; */
    background-color: #657070;
    background-clip: padding-box;
    border: 1px solid rgb(255, 255, 255);
    border-radius: .25rem;
}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    background-color: #e8e8e8;
    background-image: -webkit-linear-gradient(top,#fec100 0,#fec100 100%);
    background-image: -o-linear-gradient(top,#fec100 0,#fec100 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#fec100),to(#fec100));
    background-image: linear-gradient(to bottom,#fec100 0,#fec100 100%);
}
#fec100
 .dropdown-menu > li.kopie > a {
    padding-left:5px;
}
 /* #navbar{
     float:right;
 }
  */
.dropdown-submenu {
    position:relative;
}
.dropdown-submenu>.dropdown-menu {
   top:0;left:100%;
   margin-top:-6px;margin-left:-1px;
   -webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;
 }
  
.dropdown-submenu > a:after {
  border-color: transparent transparent transparent #333;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  content: " ";
  display: block;
  float: right;  
  height: 0;     
  margin-right: -10px;
  margin-top: 5px;
  width: 0;
}
 
.dropdown-submenu:hover>a:after {
    border-left-color:#555;
 }

.dropdown-menu > li > a:hover, .dropdown-menu > .active > a:hover {
  text-decoration: underline;
}  
  
@media (max-width: 767px) {
  .navbar-nav  {
     display: inline;
  }
  .navbar-default .navbar-brand {
    display: inline;
  }
  .navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
  }
  .navbar-default .navbar-nav .dropdown-menu > li > a {
    color: red;
    background-color: #ccc;
    border-radius: 4px;
    margin-top: 2px;   
  }
   .navbar-default .navbar-nav .open .dropdown-menu > li > a {
     color: #333;
   }
   .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
   .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
     background-color: #ccc;
   }

   .navbar-nav .open .dropdown-menu {
     border-bottom: 1px solid white; 
     border-radius: 0;
   }
  .dropdown-menu {
      padding-left: 10px;
  }
  .dropdown-menu .dropdown-menu {
      padding-left: 20px;
   }
   .dropdown-menu .dropdown-menu .dropdown-menu {
      padding-left: 30px;
   }
   li.dropdown.open {
    border: 0px solid red;
   }

}
 
@media (min-width: 768px) {
  ul.nav li:hover > ul.dropdown-menu {
    display: block;
  }
  #navbar {
    text-align: center;
    margin-bottom: -19px;
  }
}  
.navbar-default {
    background-color: #f8f8f800;
    border-color: #e7e7e700;
    background-image: -webkit-linear-gradient(top,#fff0 0,#f8f8f800 100%);
    background-image: -o-linear-gradient(top,#fff0 0,#f8f8f800 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#fff0),to(#f8f8f800));
    background-image: linear-gradient(to bottom,#fff0 0,#f8f8f800 100%);
    box-shadow: none;
}
.navbar-default .navbar-nav>li>a {
    color: #fff;
    font-size: 15px;
}

 
 .navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #ffc000 !important;
    font-size: 15px;
}
.navbar-nav a:hover{
    color: #000000 !important;
    text-decoration-line: none;
    text-decoration: none;
}
p, li, blockquote {
  
    color: #000000;
    letter-spacing: 0.5px;
    line-height: 1.0;
    
}

}
a{
    text-decoration: none !important;
}
.dropdown-menu{
    color: white;
    text-decoration-line: none;
    text-decoration: none;
}
.dropdown-menu a{
  
    text-decoration-line: none;
    text-decoration: none;
}

.dropdown-menu>li>a{
    color: white;
    font-size: 15px;
    text-decoration-line: none;
    text-decoration: none;
    
}
body {
	font-family: "Open Sans", sans-serif;
}
h2 {
	color: #000;
	font-size: 26px;
	font-weight: 300;
	text-align: center;
	text-transform: uppercase;
	position: relative;
	margin: 30px 0 80px;
}
h2 b {
	color: #ffc000;
}
h2::after {
	content: "";
	width: 100px;
	position: absolute;
	margin: 0 auto;
	height: 4px;
	background: rgba(241, 241, 241, 0.58);
	left: 0;
	right: 0;
	bottom: -20px;
}
.carousel {
	margin: 50px auto;
	padding: 0 70px;
}
.carousel .item {
	min-height: 330px;
    text-align: center;
	overflow: hidden;
}
.carousel .item .img-box {
	height: 160px;
	width: 100%;
	position: relative;
}
.carousel .item img {	
	max-width: 100%;
	max-height: 100%;
	display: inline-block;
	position: absolute;
	bottom: 0;
	margin: 0 auto;
	left: 0;
	right: 0;
}
.carousel .item h4 {
	font-size: 18px;
	margin: 10px 0;
}
.carousel .item .btn {
	color: #333;
    border-radius: 0;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: bold;
    background: none;
    border: 1px solid #ccc;
    padding: 5px 10px;
    margin-top: 5px;
    line-height: 16px;
}
.carousel .item .btn:hover, .carousel .item .btn:focus {
	color: #fff;
	background: #000;
	border-color: #000;
	box-shadow: none;
}
.carousel .item .btn i {
	font-size: 14px;
    font-weight: bold;
    margin-left: 5px;
}
.carousel .thumb-wrapper {
	text-align: center;
}
.carousel .thumb-content {
	padding: 15px;
}
.carousel .carousel-control {
	height: 100px;
    width: 40px;
    background: none;
    margin: auto 0;
    background: rgba(0, 0, 0, 0.2);
}
.carousel .carousel-control i {
    font-size: 30px;
    position: absolute;
    top: 50%;
    display: inline-block;
    margin: -16px 0 0 0;
    z-index: 5;
    left: 0;
    right: 0;
    color: rgba(0, 0, 0, 0.8);
    text-shadow: none;
    font-weight: bold;
}
.carousel .item-price {
	font-size: 13px;
	padding: 2px 0;
}
.carousel .item-price strike {
	color: #999;
	margin-right: 5px;
}
.carousel .item-price span {
	color: #86bd57;
	font-size: 110%;
}
.carousel .carousel-control.left i {
	margin-left: -3px;
}
.carousel .carousel-control.left i {
	margin-right: -3px;
}
.carousel .carousel-indicators {
	bottom: -50px;
}
.carousel-indicators li, .carousel-indicators li.active {
	width: 10px;
	height: 10px;
	margin: 4px;
	border-radius: 50%;
	border-color: transparent;
}
.carousel-indicators li {	
	background: rgba(0, 0, 0, 0.2);
}
.carousel-indicators li.active {	
	background: rgba(0, 0, 0, 0.6);
}
.star-rating li {
	padding: 0;
}
.star-rating i {
	font-size: 14px;
	color: #ffc000;
}
.thumb-wrapper{
    background-color: rgb(230, 230, 230);
    padding-top: 8px;
} 
.feedback {
  background-color : #ffc000;
  color: white;
  padding: 10px 15px;
  border-radius: 4px;
  border-color: #ffffff;
  -webkit-transform: rotate(270deg);
-moz-transform: rotate(270deg);
-o-transform: rotate(270deg);
writing-mode: tb-rl;
 
}
.feedback a{
    color: white;
}

#mybutton {
  position: fixed;
  bottom: 154px;
  right: -30px;
}
#scrollToTopButton {
    position: fixed;
    bottom: 25px;
    right: 0    px;
    opacity: 0.7;
}



/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9999;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}
.affix {
      top:0;
      width: 100%;
      z-index: 9999 !important;
      background-color: rgb(231, 209, 4);
      /* height: 8%; */
      margin-left: 0px;
  }
 
  .affix ~ .container-fluid {
     position: relative;
     top: 10px;
  }
  .row.menuright {
    background-color: #fec100;
}
/* contact us pages css */
#contatti{
  background-color: #70c3be46;
  letter-spacing: 2px;
  }
#contatti a{
  color: #fff;
  text-decoration: none;
}


@media (max-width: 575.98px) {

  #contatti{padding-bottom: 800px;}
  #contatti .maps iframe{
    width: 100%;
    height: 450px;
  }
 }


@media (min-width: 576px) {

   #contatti{padding-bottom: 800px;}

   #contatti .maps iframe{
     width: 100%;
     height: 450px;
   }
 }

@media (min-width: 768px) {

  #contatti{padding-bottom: 350px;}

  #contatti .maps iframe{
    width: 100%;
    height: 850px;
  }
}

@media (min-width: 992px) {
  #contatti{padding-bottom: 200px;}

   #contatti .maps iframe{
     width: 100%;
     height: 700px;
   }
}


#author a{
  color: #fff;
  text-decoration: none;
    
}
label{
  color: white;
}
.font-weight-bold{
  color: white;
}
.container.mt-5{
  margin-top: 10px;
}
.fa-2x{
  padding-right: 5px;
} 
/* 
<link rel="stylesheet" type="text/css" href="css/styles.css" /> */